@font-face {
  font-family: "Bondie";
  src: url('../fonts/Bondie.ttf') format('truetype');
}

@font-face {
  font-family: "BS";
  src: url('../fonts/BagnardSans.otf') format('opentype');
}

/* body format */
html, body {
  font-family: "Poppins", sans-serif;
  /* scroll-behavior: smooth; */
}

/* navigation bar at top of page */
nav {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  /* color: #23221E; */
  color: #006D77;
}

nav a:hover {
  text-decoration: none;
  /* color: #9F9F56; */
  color: #80EACDC2;
}

#avanti {
  font-size: 16px;
  font-family: "Poppins";
  color: #006D77;
}

#avanti:hover {
  font-size: 16px;
  font-family: "Poppins";
  color: #80EACDC2;
}

.links {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 200;
}

ul {
  /* list-style-type: none; */
  margin: 0px;
}

/* body size constraints */
.center-block {
  display: flex;
  justify-content: center;
}

.narrow {
  width: 67vw;

}

.main-content {
  padding-top: 15vh;
  width: 100%;
}

/* text formatting */
.body-text {
  font-weight: 200;
  line-height: 175%;
  letter-spacing: 1px;
}

.body-text a {
  text-decoration: none;
  /* color: #0E3DBE; */
  color: #E29578;
}

.body-text a:hover {
  text-decoration: none;
  color: #220E07;
}

/* .white-highlight {
  background-color: white;
} */

.headline {
  font-family: "Bondie", "Poppins", sans-serif;
  font-size: 64px;
  margin-top: 15vh;
}

.half-highlight {
  background: linear-gradient(to top, #80EACDC2 50%, transparent 50%);

}

.narrower-left-justified {
  width: 45vw;
}

#big-asterisk {
  font-family: BS;
  font-weight: 700;
  color: #E29578;
  font-size: 1.8vw;
}

/* image formatting */
#headshot {
  position: relative;
  width: max(20vw, 50px);
  /* height: 20%; */
  /* position: absolute; */
  float: right;
  /* top: 12vh;
  right: 10vw; */
  margin-left: -20vw;
  margin-right: -0vw;
  margin-top: -30vh;
  /* margin-top: -28vh; */
  z-index: -1;
}

/* footer (contact, links) */
#footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#footer ul {
  list-style-type: none;
  text-align: right;
  line-height: 150%;
}

#footer a {
  text-decoration: none;
  color: #006D77;
}

#footer a:hover {
  text-decoration: none;
  color:#80EACDC2;
}

/* placeholder construction site text */
.construction-site {
  display: flex;
  justify-content: center;
}

.construction-site p{
  position: relative;
  top: 45vh;
}
